.button
  background-color #D8D8D8
  border 1px solid #D8D8D8
  border-radius 0
  padding 8px 16px
  outline none
  cursor pointer
  font-weight bold

  &:hover
    background-color white

  &:first-child
    border-top-left-radius 40px
    border-bottom-left-radius 40px

  &:last-child
    border-top-right-radius 40px
    border-bottom-right-radius 40px
